<header th:fragments="header">
    <div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/}">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a th:if="${session.usuariosession != null}" class="nav-link active" aria-current="page" th:href="@{/usuario/registrar/empresa}">Empresa</a>
                        </li>
                        <li class="nav-item">
                            <a th:if="${session.usuariosession != null}" class="nav-link active" aria-current="page" th:href="@{/obra}">Obras</a>
                        </li>
                        <li class="nav-item">
                            <a th:if="${session.usuariosession != null}" class="nav-link active" aria-current="page" th:href="@{/usuario/registrar/item}">Items</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="text-end">
            <a class="btn btn-outline-white" style="border: 0px" role="button" th:href="@{/usuario/login}">Ingresar</a>
            <a class="btn btn-outline-white" style="border: 0px" role="button" th:href="@{/usuario/registrar}">Registrarse</a>
            <a th:if="${session.usuariosession != null}" class="btn btn-outline-white" style="border: 0px" role="button" th:href="@{/logout}" >Cerrar sesión</a>
            <div class="dropdown text-end">
                <a class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                    <li><a  class="dropdown-item" th:href="@{/logout}">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
