<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>TODO supply a title</title>
        <meta charset="windows-1252">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
                    </head>
                    <body>
                        <header th:replace="fragments/header"></header>
                        <div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">N° Item</th>
                                        <th scope="col">Descripcion</th>
                                        <th scope="col">Unidad</th>
                                        <th scope="col">Cantidad</th>
                                        <th scope="col">Precio Unitario</th>
                                        <th scope="col">Sub Total</th>
                                    </tr>
                                </thead>
                                <tbody th:each = "item : ${items}">
                                    <tr>
                                        <th scope="row" th:text="${item.numeroItem}"></th>
                                        <td th:text="${item.descripcion}"></td>
                                        <td th:text="${item.unidad}"></td>
                                        <td th:text="${item.cantidad}"></td>
                                        <td th:text="${item.precioUnitario}"></td>
                                        <td th:text="${item.subTotal}"></td>

                                    </tr>

                                </tbody>
                            </table>
                            <div>
                                <a th:href="@{/exportItem}" class="btn btn-primary" tabindex="-1" role="button">Exportar Exel</a>

                                <a th:href="@{/obra/registrar/item}" class="btn btn-primary" tabindex="-1" role="button">Importar Exel</a>
                                

                            </div>                              
                        </div>
                        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
                    </body>
                    </html>
