<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>TODO supply a title</title>
        <meta charset="windows-1252">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
                    </head>
                    
                    <body>
                        <header th:replace="fragments/header"></header>
                        <table class="table table-dark table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">total</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody th:each="obra : ${obras}">
                                <tr>
                                    <th scope="row" th:text="${obra.id}"></th>
                                    <td th:text="${obra.nombre}"></td>
                                    <td th:text="${obra.total}"></td>
                                    <td>
                                        <a th:href= "@{/obra/listaItems/__${obra.nombre}__}"><i class="fas fa-feather-alt"></i> Listar Items </a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td scope="rowgroup " >
                                        <a
                                            class="btn btn-outline-success d-grid gap-2"
                                            role="button"
                                            th:href="@{/obra/registrar}"
                                            >Agregar Obra</a
                                        >
                                    </td>
                                    
                                </tr>
                            </tfoot>
                        </table>
                        </div>    
                        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


                    </body>
                    </html>
